td {
    border: 5px solid black;
    border-style: inset;
    background-color: dimgray;
    width: 250px;
    height: 250px;
    font-size: xx-large;
    text-align: center;
    color: white;
  }
  .wygrana{
    color: rgb(105, 163, 18);
  }
  .hide{
    display: none;
  }
  .visible{
    display: block;
  }
  